.logo a{
    color:#ffffff;
    text-decoration:none;
}

.logo a:hover{
    color:#ffffff;
}

/* ==========================
   MENU TOGGLE
========================== */

.menu-toggle{
    display:none;
    font-size:28px;
    color:#fff;
    cursor:pointer;
}

@media (max-width:768px){

    nav ul{
        display:none;
    }

    .menu-toggle{
        display:block;
    }

}