/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#ffffff;
}

header{
    width:100%;
    padding:20px 8%;
    background:#111827;
}

/* ===== PREMIUM NAVBAR ===== */

header{
    position: sticky;
    top:0;
    z-index:999;
    backdrop-filter: blur(18px);
    background:rgba(15,23,42,.75);
    border-bottom:1px solid rgba(255,255,255,.08);
}

nav ul li a{
    position:relative;
}

nav ul li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#38bdf8;
    transition:.35s;
}

nav ul li a:hover::after{
    width:100%;
}

.btn-primary{
    transition:.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 30px rgba(56,189,248,.35);
}

.btn-secondary{
    transition:.3s;
}

.btn-secondary:hover{
    background:#38bdf8;
    color:#fff;
}
.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
}

.hero-left{
    max-width:600px;
}

.hero-left span{
    color:#38bdf8;
    font-size:18px;
}

.hero-left h1{
    font-size:70px;
    margin:15px 0;
}

.hero-left h2{
    font-size:35px;
    color:#cbd5e1;
}

.hero-left p{
    margin-top:20px;
    line-height:1.8;
    color:#94a3b8;
}

.hero-buttons{
    margin-top:40px;
    display:flex;
    gap:20px;
}

.btn-primary,
.btn-secondary{
    padding:15px 30px;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
}

.btn-primary{
    background:#38bdf8;
    color:#fff;
}

.btn-secondary{
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.hero-right{
    display:flex;
    justify-content:center;
    align-items:center;
}

.circle{
    width:420px;
    height:420px;
    border-radius:50%;
    background:linear-gradient(135deg,#38bdf8,#7c3aed);
}